<h1>Want to hire me because I'm so awesome at living...?</h1>
<h3>(you know you do, don't lie)</h3>

<ul>
  <li>Name: Lawrence Gomez Jr</li>
  <li>Number: (339) 224 - 8656</li>
  <li>Email: lfg2305@gmail.com</li>
  <li><a href="https://www.linkedin.com/in/lawrencegomezjr">LinkedIn</a></li>
  <li><a href="https://www.instagram.com/lfg2305/?hl=en">Instagram</a></li>
</ul>

<!-- <%@contact.each do |key,value| %>
    <li><%=key%><li>
<%end%> -->
